.networkNavigation {
    position: relative;
}

.networkNavigationButton {
    width: 25%;
    display: flex;
    background-color: transparent;
    border: none;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}

.networkNavigationGlobe {
    width: 17px;
    margin-right: 5px;
}

.networkNavigationChevron {
    width: 12px;
    transform: translateY(5px);
}
