.mainNavButton {
    background-color: transparent;
    margin-left: 8px;
    height: 100%;
    border: none;
}

.mainNavButtonImg {
    height: 25px;
}

.mainNavDropdown {
    box-shadow: 2px 2px 2px #bababa;
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    z-index: 999;
    width: 60%;
    left: 10px;
    height: 0;
    display: none;
}

.mainNavDropdownOpen {
    display: block;
    animation: fadeInMenu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes fadeInMenu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
